body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1280,h_720,q_75,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mL2Y1NjJhYWY0LTVkYmItNDYwMy1hMzJiLTZlZjZjMjIzMDEzNi9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.FScrpAAFnKqBVKwe2syeiOww6mfH6avq-DRHZ_uFVNw");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.navbar {
  background-color: #7b0000;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  margin-left: 15px;
  font-weight: bold;
  text-decoration: none;
}

.nav-right {
  display: none;
}

@media only screen and (min-width: 700px) {
  .nav-right {
    display: block;
  }
}

.hero {
  text-align: center;
  padding: 120px 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.section-title {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
}

.menu-item {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.menu-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.red {
  background-color: #8b0000;
}

.yellow {
  background-color: #e0a800;
}

.green {
  background-color: #006400;
}

.blue {
  background-color: #0044aa;
}

.cta {
  background-color: #7b0000;
  text-align: center;
  padding: 50px 20px;
  margin-top: 40px;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: yellow;
  color: #7b0000;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
}

footer {
  background-color: black;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  margin-top: 40px;
}

.movie-container {
  display: flex;
  gap: 12px;
  padding: 20px;
  overflow-x: auto;
}


.card {
  flex: 0 0 150px;
  height: 220px;
  background: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.movie-title,
.game-title {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 6px;
}

span {
  color: #ccc;
  font-size: 0.85em;
}
  